button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgba(189, 74, 66, 0.0352941176);
    box-shadow: $box-shadow;
    color: $text-color;
    background-color: $primary-color;
}


.boton-quiero-revender {
    margin-top: 20px;
}

button:hover {
    background-color: #9c3129;

}