button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #bd4a4209;
    box-shadow: 2px 2px 10px #645c5c;
    color: white;
    background-color: #d13227;
}

.boton-quiero-revender {
    margin-top: 20px;
}

button:hover {
    background-color: #9c3129;

}