#caracteristicas .container {
    text-align: center;
    padding: 250px 12px;
    background: linear-gradient(90deg,rgba(211, 3, 35, 1) 0%, rgba(133, 20, 20, 1) 37%, rgba(133, 20, 20, 1) 71%, rgba(211, 3, 35, 1) 100%);
}

#caracteristicas li {
    color: #ffc120;
    margin: 15px 0px;
    font-weight: bold;
}