
$primary-color: #d13227;
$secondary-color: #6c757d;
$accent-color: #ffc120;
$text-color: #edfffa;


$font-family-bebas: 'Bebas Neue', sans-serif;


$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;


$box-shadow: 2px 2px 10px #645c5c;