.container {
    max-width: 1400px;
    margin: auto;
}

header {
    background: linear-gradient(90deg,rgba(211, 3, 35, 1) 0%, rgba(133, 20, 20, 1) 37%, rgba(133, 20, 20, 1) 71%, rgba(211, 3, 35, 1) 100%);
    
}
header .logo {
    margin: 0;
    padding: 20px 25px;
    font-size: 4em;
    color: #edfffa;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-size: 1.35em;
    font-weight: bold;
    color: #edfffa;
}

header a:hover {
    color: #f11304ce;
}