#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100dvh;
    color: #edfffa;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.007),
            rgba(0, 0, 0, 0.007)),
        url(../media/imagenestudio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1 {
    color: #edfffa;
    #hero h1 {
  @include text-shadow(3px, 3px, 5px, rgba(255, 0, 0, 0.8)); // Usa el mixin con valores personalizados
}
}

#hero button {
    font-size: 1.55em;
}