#somos-yakuzatattoo .contenedor {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(90deg,rgba(211, 3, 35, 1) 0%, rgba(133, 20, 20, 1) 37%, rgba(133, 20, 20, 1) 71%, rgba(211, 3, 35, 1) 100%);
}

.color-yakuza {
    color: #ffc120;
}

.texto {
    color: #edfffa;
}